* {
    margin: 0;
    padding: 0;
}

/* navigation */
#title {
    color: #000;
}

.navbar .navbar-nav .nav-link {
    color: #fff;
    font-size: 1.1rem;
    font-weight: bold;
}

.navbar .navbar-nav .nav-link:hover {
    display: inline-block;
    background-color: rgb(99, 200, 240);
    color: rgb(0, 0, 0);
}


.navbar-brand {
    color: #000;
    font-weight: bold;
}


.slidbar-image {
    height: 525px;
}

/* section 1 of Grid */

.g-title {
    text-align: center;
    margin: 3% 8%;
}

#features1 {
    margin: 3% 9%;
}

#features1 p {
    width: 75%;
}

#features2 {
    margin: 3% 12%;
}

#features2 h4 {
    padding: 4%;
}

#features2 p {
    width: 75%;
}

@media (max-width: 990px){
    #features1 {
        text-align: center;
    }
    
    #features2 {
        text-align: center;
    }
}

@media (max-width: 768px) {

    #features2 p {
        width: 100%;
    }

    #features1 p {
        width: 100%;
    }

    .slidbar-image {
        height: 325px;
    }
    
}

/* .slidbar-image {
    height: 525px;
} */